@media (max-width: 768px) {
    .header {

        &__nav-btn {
            display: flex;
        }

        &__menu {
            position        : absolute;
            display         : block;
            top             : 50px;
            padding         : 20px;
            background-color: #fff;
            border          : 1px solid #d9d9d9;
            border-radius   : 5px;
            transform       : translateX(-200%);
            transition      : all .3s;

            &--active {
                transform: translateX(0);

            }
        }

        &__menu-item+&__menu-item {
            margin-left: 0;
            margin-top : 13px;
        }

    }

    .form {

        &__boxes {
            margin-bottom: 70px;
        }

        &__box {
            margin-right: 60px;

            &:first-child {
                margin-right: 60px;
            }
        }
    }

    .title {
        margin-top: 80px;
    }

    .irs-grid-text {
        font-size  : 11px;
        font-weight: 400;
        max-width  : 120px;
    }
}

@media (max-width: 665px) {
    .form {
        &__boxes {
            display: inline-block;
        }

        &__box {
            margin-right: 0px;

            &:first-child {
                margin-right: 0px;
            }
        }

        &__textarea {
            margin-bottom: 35px;
        }
    }

    .title {
        font-size: 64px;
    }
}

@media (max-width: 545px) {
    .form {
        &__range {
            margin-top: 130px;
        }
    }

    .irs-grid-text {
        font-size   : 10px;
        writing-mode: vertical-rl;
        transform   : rotate(326deg);
        height      : 95px;
    }

    .js-grid-text-4 {
        left: 83% !important;
    }

    .jq-selectbox {
        &__select {
            max-width: 240px;
        }
    }
}